//Colors

//Primary

$mainbackground:hsl(233,47%, 7%);
$cardbackground:hsl(244, 38%, 16%);
$accent:hsl(277, 64%, 61%);

//Neutral

$mainheadingstats:hsl(0, 0%, 100%);
$mainparagraph:hsla(0, 0%, 100%, 0.75);
$statheadings:hsla(0, 0%, 100%, 0.6);

//Fonts

$fontsize: 15px;
$fontInter:'Inter', sans-serif;
$fontLexend:'Lexend Deca', sans-serif;
